<html>

<head>
    <style>
        @media (prefers-color-scheme: dark) {
            body {
                background: #333;
                color: white;
            }

            a {
                color: skyblue;
            }
        }

        .container {
            font-family: sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }

        .intro {
            text-align: center;
        }

        .licenses-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .license-used-by {
            margin-top: -10px;
        }

        .license-text {
            max-height: 200px;
            overflow-y: scroll;
            white-space: pre-wrap;
        }
    </style>
</head>

<body>
    <main class="container">
        <div class="intro">
            <h1>LBR Third Party Licenses</h1>
            <p>This page lists the licenses of the projects used in LBR.</p>
        </div>

        <h2>Automatically detected licenses:</h2>
        <ul class="licenses-overview">
            {{#each overview}}
            <li><a href="#{{id}}">{{name}}</a> ({{count}})</li>
            {{/each}}
        </ul>

        <h3>All license text:</h3>
        <ul class="licenses-list">
            {{#each licenses}}
            <li class="license">
                <h3 id="{{id}}">{{name}}</h3>
                <h4>Used by:</h4>
                <ul class="license-used-by">
                    {{#each used_by}}
                    <li><a
                            href="{{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}}">{{crate.name}}
                            {{crate.version}}</a></li>
                    {{/each}}
                </ul>
                <pre class="license-text">{{text}}</pre>
            </li>
            {{/each}}
        </ul>

        <h2>Other licenses:</h2>
        <ul>
            <li>
                ichiran: MIT (https://github.com/tshatrov/ichiran/blob/master/LICENSE)
            </li>
            <li>
                JMdict: Creative Commons Attribution-ShareAlike Licence V4.0
                (https://www.edrdg.org/edrdg/licence.html)
            </li>
            <li>
                KANJIDIC2: Creative Commons Attribution-ShareAlike Licence V4.0
                (https://www.edrdg.org/edrdg/licence.html)
            </li>
            <li>
                KRADFILE: Creative Commons Attribution-ShareAlike Licence V4.0
                (https://www.edrdg.org/edrdg/licence.html)
            </li>
            <li>
                jmdictdb: GPLv2 or later (https://gitlab.com/yamagoya/jmdictdb/-/blob/master/LICENSE.txt)
            </li>
            <li>
                JmdictFurigana: Creative Commons Attribution-ShareAlike Licence V4.0
                (https://github.com/Doublevil/JmdictFurigana#licence)
            </li>
        </ul>
    </main>
</body>

</html>